@page

@using RazorPagesApp_NetCore.Pages
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2>Message coming from a separate Razor Pages page model (.NET Core) </h2>
        <p>
            @Model.Message
        </p>
    </div>
</body>
</html>
