<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2>Message coming from a Razor Web Page (.NET Framework) </h2>
        @{
            string Message = "Hello World. ";
            Message += $" Server time is { DateTime.Now }"; ;
        }
        <p>
            @Message
        </p>
    </div>
</body>
</html>
